@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 70px;
  font-family: "Playfair Display";
  background: url(/images/background-light.jpg) no-repeat top center/cover;
  height: 100vh;
}

nav {
  background-color: #fcf8ff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 1rem;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 1000;
}

.title {
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.menu-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0 5rem;
}

.menu-item a {
  text-decoration: none;
  color: #845ec2;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0 5rem;
}

.about-container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 800px;
  display: flex;
  padding: 50px;
}

.card-about {
  background-color: #fcf8ff;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.about-content {
  padding: 1rem;
  text-align: center;
}

.profile-img {
  width: 200px;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.projects-container {
  display: flex;
  justify-content: space-around;
}

/* card-styles */

.card {
  width: 300px;
  background-color: #fcf8ff;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;
}

.card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 1rem;
}

.card-content a {
  text-align: center;
  display: inline-block;
  margin-top: 0.6rem;
  text-decoration: none;
}
